.Chart {
    overflow: visible;
}

.chart {
    text-align: center;
}

.chartLabel {
    font-size: 1.7em;
    font-style: normal;
    text-transform: capitalize;
    fill: black;
}

.chartLabel_bar {
    font-size: 1.0em;
}

.lineChart {
    display: inline;
}

.barChart {
    display: inline;
}

.Line--type-line {
    fill: none;
    stroke-opacity: 0.5;
    stroke-width: 3px;
    stroke-linecap: round;
    transition: all 0.3s ease-out;
}

.Line--type-area {
    fill: rgba(152, 128, 250, 0.185);
    stroke-width: 0;
}

.Axis__line {
    stroke: #bdc3c7;
}

.Axis__label {
    text-anchor: middle;
    font-size: 0.8em;
    letter-spacing: 0.01em;
}

.Axis__tick {
    font-size: 0.9em;
    transition: all 0.3s ease-out;
}

.AxisHorizontal .Axis__tick {
    text-anchor: middle;
}

.AxisVertical .Axis__tick {
    dominant-baseline: middle;
    text-anchor: end;
}

.Circles__circle {
    transition: all 0.3s ease-out;
}

.Circles__circle:hover {
    stroke-width: 6px;
}

.Bars__rect {
    transition: all 0.3s ease-out;
}

.Bars__rect:hover {
    fill-opacity: 1;
    transform: skew(0.5deg, 0deg);
    stroke-width: 1.5px;
    stroke: white;
}