p {
  display: block;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  opacity: 0.8;
}

/* header */
#header {
  background-image: url("../img/header_img.png");
  width: 100%;
  height: 100%;
}

.hd_img {
  /* to make image a block element */
  display: block;
  margin: 100px auto;
  width: 50%;
  transform: rotate(15deg);
}

/* intro */
#intro {
  margin-top: 100px;
}
.timeline_img{
  margin-top: 3%;
  width: 100%;
}

/* theme */
.theme1_ch {
  margin-top: 10px;
  margin-bottom: 100px;
}
/* theme */

/* sub-theme */

/* subNavContainer */
.subNavContainer {
  margin-top: 5%;
}

.navBar {
  height: 100px;
}

.navLabel {
  /* display: block; */
  display: inline;
  padding: 0.3rem 1.1rem;
  font-size: 1.2rem;
  font-family: 'Alatsi', sans-serif;
  color: rgb(92, 93, 94);
  transition: all 0.3s ease-out;
}

.navLabel.click {
  color: rgb(3, 3, 3); 
}

.navLabel:hover {
  color: black;
  font-weight: 500;
}
/* subNavContainer */

.subChartContainer {
  position: relative;
  margin-top: 50px;
  text-align: center;
  /* height: 270px; */
}

.sub_intro {
  margin-top: 20px;
  padding: 2%;
  background-color: rgba(236, 236, 236, 0.5);
}

.finding {
  margin-top: 20px;
  padding: 2%;
  background-color: rgba(236, 236, 236, 0.5);
}

/* sub-theme */

/* tooltip */
.tooltipLabel {
  font-size: 0.8em;
  font-style: normal;
  text-transform: capitalize;
  fill: black;
  z-index: 5;
}

.tooltip_rect-pointer {
  position: absolute;
  transform-origin: top left;
  transform: rotate(45deg);
}

.tooltipContainer {
  fill: rgb(217, 247, 250);
  z-index: 10;
}
/* tooltip */
/* footer */
.footer {
  text-align: center;
  background-color: #464159;
  padding: 50px 0 20px;
  }


