p {
  display: block;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  opacity: 0.8;
}

#header {
  background-image: url("../img/header_img.png");
  width: 100%;
  height: 100%;
}

.header1_text {
  text-align: center;
  margin: 100px 10% 0px 10%;
  font-size: 5rem;
  font-family: 'Alatsi', sans-serif;
  color: #fcf5b0;
}

.header2_text {
  text-align: center;
  margin: 20px auto 100px auto;
  font-size: 2rem;
  font-family: 'Alatsi', sans-serif;
  color: #fffdf9;
}

.header3_text {
  text-align: center;
  margin: 20px auto 100px auto;
  font-size: 1.5rem;
  font-family: 'Alatsi', sans-serif;
  color: #fffdf9;
}

.hd_sl {
  color: #da2d2d;
}

.hd_time {
  color: #c0ffb3;
}

.hd_img {
  /* to make image a block element */
  display: block;
  margin: 100px auto;
  width: 50%;
  transform: rotate(15deg);
}

.theme_img {
  display: block;
  width: 100%;
}

.intro {
  margin-top: 100px;
}

.intro_container {
  width: 85%;
  margin-left: 9.3%;
  margin-right: auto;
}

.title_s {
  margin-top: 100px;
  font-family: 'Abril Fatface', cursive;
}

.title_ch {
  margin-top: 80px;
  font-size: 2rem;
  text-align: center;
  font-family: 'Alatsi', sans-serif;
}

.theme1_ch {
  margin-top: 10px;
  margin-bottom: 100px;
}

.footer {
  text-align: center;
  background-color: #464159;
  padding: 50px 0 20px;
}

.criminal_img {
  width: 100%;
}

.subChartContainer {
  position: relative;
  margin-top: 10px;
  text-align: center;
}

.subCategory {
  margin-bottom: 200px;
}

.navBar {
  height: 100px;
}

.navLabel {
  /* display: block; */
  display: inline;
  padding: 0.3rem 1.1rem;
  margin-bottom: 0px;
  font-size: 1.0rem;
  color: rgb(20, 53, 184);
  transition: all 0.3s ease-out;
}

.navLabel:hover {
  color: black;
  font-weight: 500;
}

.sub_intro {
  height: 150px;
}

.tooltipLabel {

  font-size: 0.8em;
  font-style: normal;
  text-transform: capitalize;
  fill: black;
  z-index: 5;
}


.tooltip_rect-pointer {
  position: absolute;
  transform-origin: top left;
  transform: rotate(45deg);
}

.tooltipContainer {
  fill: rgb(241, 252, 253);
  z-index: 10;
}

.grid .tick {
  stroke-width: 0.9px;
  /* stroke-dasharray: 4px 2px; */
  opacity: 0.1;
}

.grid path {
  stroke-width: 0;
}

.axis .tick {
  stroke-width: 1px;
  /* stroke-dasharray: 4px 2px; */
  opacity: 0.9;
}

.axis path {
  stroke-width: 0;
}