p {
  display: block;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  opacity: 0.8;
}

#header {
  background-image: url("../img/header_img.png");
  width: 100%;
  height: 100%;
}

.header1_text {
  text-align: center;
  margin: 100px 10% 0px 10%;
  font-size: 5rem;
  font-family: 'Alatsi', sans-serif;
  color: #fcf5b0;
}

.header2_text {
  text-align: center;
  margin: 20px auto 100px auto;
  font-size: 2rem;
  font-family: 'Alatsi', sans-serif;
  color: #fffdf9;
}

.header3_text {
  text-align: center;
  margin: 20px auto 100px auto;
  font-size: 1.5rem;
  font-family: 'Alatsi', sans-serif;
  color: #fffdf9;
}

.hd_sl {
  color: #da2d2d;
}

.hd_time {
  color: #c0ffb3;
}

.hd_img {
  /* to make image a block element */
  display: block;
  margin: 100px auto;
  width: 50%;
  transform: rotate(15deg);
}

.theme_img {
  display: block;
  width: 100%;
}

.intro {
  margin-top: 100px;
}

.intro_container {
  width: 85%;
  margin-left: 9.3%;
  margin-right: auto;
}

.title_s {
  margin-top: 100px;
  font-family: 'Abril Fatface', cursive;
}

.title_ch {
  margin-top: 80px;
  font-size: 2rem;
  text-align: center;
  font-family: 'Alatsi', sans-serif;
}

.theme1_ch {
  margin-top: 10px;
  margin-bottom: 100px;
}

.footer {
  text-align: center;
  background-color: #464159;
  padding: 50px 0 20px;
}

.criminal_img {
  width: 100%;
}

.subChartContainer {
  margin-top: 50px;
  text-align: center;
}

.subCategory {

  margin-bottom: 200px;
}